.navigation {
  @apply fixed left-0 right-0 top-0 z-6 min-h-[70px] bg-white bg-opacity-60 backdrop-blur-md;
}

.menuContainer {
  @apply z-10 mx-auto flex max-w-[1200px] items-center justify-between gap-4;
  @apply px-5 py-5 transition-all duration-300 ease-in-out max-lg:px-5 max-lg:py-3 max-sm:px-4;

  @media screen and (max-width: 650px) {
    align-items: center;
    background-color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
    height: 100%;
    justify-content: flex-end;
    overflow-y: auto;
    padding: 30px;
    position: fixed;
    right: -100%;
    top: 0;
    visibility: hidden;
    width: 270px;
  }
}

.menuOpen {
  right: 0;
  visibility: visible;
}

.cover {
  background-color: black;
  bottom: 0;
  display: none;
  height: 100vh;
  left: -100%;
  min-height: 100vh;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.coverShow {
  display: block;
  left: 0;
  opacity: 0.4;
}
