$dark: #000000;

@mixin btn() {
  width: 48px;
  height: 48px;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin icon($height, $width) {
  transition-duration: 0.3s;
  position: relative;
  height: $height;
  width: $width;

  background-color: $dark;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.3s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: '';
  top: $top;
  left: 0;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.3s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: '';
  top: $top;
  left: 0;
}

@mixin icon-circle($height, $width) {
  transition-duration: 0.3s;
  position: absolute;
  height: $height;
  width: $width;
  top: 2px;
  border-radius: 100%;
  background: transparent;
  border: 4px solid black;
  left: -10px;
}

.burger {
  @include btn();

  .icon {
    @include icon(1px, 30px);
    border-radius: 4px;

    &:before {
      @include icon-before(1px, 40px, -7px);
      border-radius: 4px;
    }

    &:after {
      @include icon-after(1px, 20px, 7px);
      border-radius: 4px;
    }
  }

  &.open {
    .icon {
      background: transparent;
      transition-duration: 0.3s;

      &:before {
        transform: rotateZ(45deg) scaleX(0.75) translate(-1px, 6px);
      }

      &:after {
        transform: rotateZ(-45deg) scaleX(1.5) translate(7px, -4px);
      }
    }
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
