@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-end-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --background-end-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}

/* =========================
Custom Input range
=============================*/

/* Input range - chrome and safari */

input[type='range'] {
  -webkit-appearance: none;
  background: white;
  border-radius: 2px;
  cursor: pointer;
  height: 4px;
  position: relative;
  --range-progress: 0;
  width: 100%;
}

/* Input range - firefox */
input[type='range']::-moz-range-track {
  background: #ccc;
  border-radius: 2px;
  cursor: pointer;
  height: 4px;
  position: relative;
  width: 100%;
}

/* played progress length - Chrome & safari*/
input[type='range']::before {
  background: white;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  content: '';
  height: 8px;
  left: 0;
  position: absolute;
  top: -2px;
  width: var(--range-progress);
}

/* played progress length - firefox */
input[type='range']::-moz-range-progress {
  background: white;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  height: 8px;
}

/* slider thumb - chrome and safari */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 14px;
  position: relative;
  width: 14px;
}

/* dragging thumb - chrome and safari */
input[type='range']:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

/* slider thumb - firefox */
input[type='range']::-moz-range-thumb {
  background: white;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
  height: 14px;
  position: relative;
  width: 14px;
}
/* dragging thumb - firefox */
input[type='range']:active::-moz-range-thumb {
  transform: scale(1.2);
}


video::-webkit-media-controls {
  display: none !important;
  opacity: 0;
}
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

video::-webkit-media-controls-panel {

  display: none!important;

  -webkit-appearance: none;

}

//*::--webkit-media-controls-play-button {
//
//  display: none!important;
//
//  -webkit-appearance: none;
//
//}
//
//*::-webkit-media-controls-start-playback-button {
//
//  display: none!important;
//
//  -webkit-appearance: none;
//
//}
